.container-tz {
  display: flex;
  overflow-x: scroll;
}

.container-tz .column:hover > .row {
  background-color: rgba(0, 0, 0, 0.08);
}

.container-tz .column .row {
  padding: 0 0.4em;
  align-items: center;
  display: flex;
  background-color: white;
}

.container-tz .column.active > .row {
  background-color: var(--complementary);
}
