.names-tz .name-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0.6em 2em;
  position: relative;
  box-shadow: 3px 1px 3px 0 rgba(60, 64, 67, 0.15),
    2px 1px 4px 2px rgba(60, 64, 67, 0.15);
  background-color: var(--primary);
  color: white;
  border-radius: 0em 0.4em 0.4em 0;
}

.names-tz .name-container .name {
  margin-bottom: 0.3em;
}

.remove-btn {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  color: white;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: var(--danger);
}

.names-tz .name-container:hover .remove-btn {
  width: 2.5em;
  transition-duration: 0.3s;
}
