.timezones {
  --margin-between-rows: 0.1em;
  --tz-names-width: 45em;
  display: flex;
  height: 100%;
}

.timezones .name-container,
.timezones .container-tz .column .row {
  margin: var(--margin-between-rows) 0;
  /* border: 1px solid red; */
}

.timezones .container-tz .column,
.timezones .names-tz {
  display: flex;
  flex-direction: column;
}

.timezones .container-tz .column div,
.timezones .names-tz div {
  flex: 1;
}
