:root {
  --primary: #6002ee;
  --complementary: #90ee02;
  --analogous-light: #021aee;
  --analogous-dark: #d602ee;
  --triadic-primary: #ee0290;
  --triadic-complementary: #ee6002;
  --danger: #b00020;
  --warning: orange;
  --body-bg: #f8f7f7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
